:root {
    --colorpicker-w: 800px;
    --colorpicker-h: 800px;
    --control-space-w: 400px;
    --control-space-h: 400px;
    --slider-t: 25px;
}

body {
    display: flex;
}

.flex-wrapper {
    padding: 10px;
}

/* Velocity display */
.velocity {
    width: calc(var(--colorpicker-w) - var(--control-space-w));
    height: calc(var(--colorpicker-h) - var(--control-space-h));
    background-color: #8d8d8d;
}

/* Colorpicker display */
.colorpicker {
    display: flex;
    width: calc(var(--colorpicker-w));
    height: calc(var(--colorpicker-h));
}

.spectrum {
    width: var(--colorpicker-w);
    height: var(--colorpicker-h);
    background-color: #8d8d8d;
}

/* Colorpicker params */
.hue {
    width: var(--colorpicker-h) !important;
    height: var(--slider-t) !important;
    background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
}

/* Input range */
.color-range {
    appearance: none;
}

.vertical {
    writing-mode: vertical-lr;
    direction: rtl;
}

.horizontal {}

/* Slider thumb */
.color-range::-webkit-slider-thumb {
    appearance: none;
    background: #808080;
}

.vertical::-webkit-slider-thumb {
    width: var(--slider-t);
    height: 5px;
}

.horizontal::-webkit-slider-thumb {
    width: 8px;
    height: var(--slider-t);
}

/* Cursor for palette function */
.cursor {
    cursor: grab;
}

.controlCursor {
    width: 16px;
    height: 16px;
    border: solid 2px #ffffff;
    border-radius: 8px;
    position: absolute;
}

.pointCursor {
    width: 17px;
    height: 17px;
    border: solid 2px #ffffff;
    border-radius: 8px;
    position: absolute;
}

/* Bezier parameters */
.options {
    display: flex;
    flex-direction: column;
}

.option-label {}

.options > .flex-wrapper > .coordinate:nth-of-type(n+2) {
    margin-left: 20px;
}

/* Color palette */
.palette-container {
    display: flex;
    flex-direction: column;
}

.palette {
    display: flex;
    margin: 10px;
    width: 250px;
}

.palette p {
    margin: 0;
    width: auto;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-left: 20px;
}

.palette-color {
    width: 100px;
    height: 50px;
}